<li class="nav-item <%= "active open" if ["erp/purchase/backend/purchases"].include?(params[:controller]) %>">
    <a href="javascript:;" class="nav-link nav-toggle">
        <i class="fa fa-opencart"></i>
        <span class="title"><%= t('.purchase') %></span>
        <% if ["erp/purchase/backend/purchases"].include?(params[:controller]) %>
            <span class="selected"></span>
            <span class="arrow open"></span>
        <% else %>
            <span class="arrow"></span>
        <% end %>
    </a>
    <ul class="sub-menu">
        <li class="nav-item">
            <a href="<%= erp_purchase.backend_purchase_orders_path %>" class="nav-link">
                <span class="title"><%= t('.purchase_orders') %></span>
            </a>
        </li>
        <li class="nav-item">
            <a href="javascript:;" class="nav-link">
                <span class="title"><%= t('.suppliers') %></span>
            </a>
        </li>
    </ul>
</li>